* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: 0;
  padding: 0 100px;
}
body {
  background-color: #0c0e1866;
}

.hero-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.box1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 400px;
  position: relative;
  width: 325px;
  height: 240px;
  padding: 20px;
  background-color: darkcyan;
  border-radius: 20px;
  box-shadow: 5px 10px 10px black;
}

.child {
  top: -270px;
  position: absolute;
}
select {
  position: relative;
  left: 300px;
  bottom: 30px;
  border-radius: 50px;
  padding: 10px;
  background-color: #0c0e1866;
}
.header-right {
  display: flex;
  justify-content: end;
  position: relative;
  left: -100px;
  top: -30px;
  text-align: center;
  align-items: center;
}
button {
  padding: 10px 20px;
  border-radius: 20px;
}
footer {
  position: relative;
  top: 600px;

  align-items: center;
  display: flex;
}
.footer-parent {
  display: flex;
  justify-content: center;
  color: white;
  padding: 100px;
  text-align: center;
  
}
a {
  display: flex;
  text-transform: none;
  text-decoration: none;
  color: white;
}
.h {
  position: relative;

  left: -900px;
}
